<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link href="css/styles.css" rel="stylesheet" /-->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <title>Playlist</title>
</head>
<body>
    <h1 style="text-align: center;">Edit playlist</h1>
    <form method ="post" action ="/form">
        <label for="formControlInput" class="form-label">Song Name</label>
        <input type="text" name="name"class="form-control" id="formControlInput" value="<%= items.name%>"> <br>
    
        <label for="formControlInput" class="form-label">Artist</label>
        <input type="text" name="artist"class="form-control" id="formControlInput" value="<%= items.artist%>"> <br>
    
        <label for="formControlInput" class="form-label">Duration</label>
        <input type="text" name="duration"class="form-control" id="formControlInput" value="<%= items.duration%>"> <br>
    
        <label for="formControlInput" class="form-label">Release Date</label>
        <input type="text" name="date"class="form-control" id="formControlInput" value="<%= items.date%>"> <br>
    
        <label for="formControlInput" class="form-label">Link</label>
        <input type="text" name="link"class="form-control" id="formControlInput" value="<%= items.link%>"> <br>
        
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>